bardapi==0.1.38
beautifulsoup4==4.12.2
certifi==2023.7.22
pathlib==1.0.1
Pillow==10.1.0
pdfplumber==0.10.3
python-dotenv==1.0.0
regex==2023.8.8
stop-words==2018.7.23
sumy==0.11.0
yake==0.4.8
openai==0.28.1
fastapi==0.63.0
python-telegram-bot==13.4
